i {
  transition: all 0.3s ease;
  cursor: pointer;
}

i:hover {
  color: #FF6347;
  transform: scale(1.2);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.fa-pen-to-square:hover {
  color: #4CAF50;
}

.fa-trash:hover {
  color: #F44336;
}
