<div class="container mx-auto p-4">
  <h1 class="text-2xl font-semibold mb-4">لیست وظایف</h1>

  <div class="mb-4">
    <label for="filter" class="mr-2">فیلتر لیست:</label>
    <select id="filter" [(ngModel)]="selectedFilter" (change)="applyFilter()" class="p-2 border rounded">
      <option value="all">همه وظایف</option>
      <option value="completed">وظایف انجام‌شده</option>
      <option value="not-completed">وظایف انجام‌نشده</option>
    </select>
  </div>

  <table class="min-w-full table-auto border-collapse border border-gray-300">
    <thead>
      <tr>
        <th class="p-2 border">عنوان</th>
        <th class="p-2 border">شرح وظیفه</th>
        <th class="p-2 border">وضعیت انجام</th>
        <th class="p-2 border">عملیات</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let task of filteredTasks">
        <td class="p-2 border text-center align-middle">
          <ng-container *ngIf="editingTask?.title != task.title; else editTitle">
            {{ task.title }}
          </ng-container>
          <ng-template #editTitle>
            <input [value]="editingTask?.title" (input)="onTitleChange($event, task)" class="p-1 border rounded" />
          </ng-template>
        </td>

        <td class="p-2 border text-center align-middle">
          <ng-container *ngIf="editingTask?.description != task.description; else editDescription">
            {{ task.description }}
          </ng-container>
          <ng-template #editDescription>
            <input [value]="editingTask?.description" (input)="onDescriptionChange($event, task)" class="p-1 border rounded" />
          </ng-template>
        </td>

        <td class="p-2 border text-center align-middle">
          <input type="checkbox" [checked]="task.done" [(ngModel)]="task.done" (change)="updateTaskStatus(task)" />
        </td>

        <td class="p-2 border text-center align-middle">
          <ng-container *ngIf="editingTask?.title !== task.title">
            <i class="fa-solid fa-pen-to-square m-5" (click)="startEditing(task)"></i>
            <i class="fa-solid fa-trash fa-lg" (click)="deleteTask(task)"></i>
          </ng-container>

          <ng-container *ngIf="editingTask?.title === task.title">
            <i class="fa-solid fa-save m-5" (click)="saveTask()"></i>
            <i class="fa-solid fa-times fa-lg" (click)="cancelEditing()"></i>
          </ng-container>
        </td>
      </tr>
    </tbody>
  </table>
</div>
